body{
    font-family: 'Nunito';
    overscroll-behavior-y: contain;
}

h2{
    font-size: 18px;
    padding: 10px 20px;
    color: #575ed8;
}

#chat-area{
    /* margin: 30px auto; */
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
    height: 500px;
    overflow-wrap: break-word;
}

#chat-window{
    height: 400px;
    overflow: auto;
    background: #f9f9f9;
}

.chat-input{
    position: absolute;
    bottom: 0;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    border: 1px solid lightgray;
}

#output{
    width: 400px;
}

#output p{
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
}

#feedback p{
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}

#output strong{
    color: #575ed8;
}

label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

input{
    /* padding: 10px 20px; */
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: Nunito;
    font-size: 16px;
}

.send-button{
    background: #575ed8;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
}
.main {
    display: flex;
    margin: 20px 40px;
}

.color-guide {
    margin: 20px 40px;
}

h5 {
    margin-bottom: 10px;
}

.user {
    padding: 7px 15px;
    border-radius: 4px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    background: #EE92C2;
    margin: 10px 0;
}

.guest {
    background: #F0C987;
    color: white;
}

